@import './fonts.css';

html {
  @media (max-width: 767px) {
    font-size: 75%;
  }
  @media (max-width: 375px) {
    font-size: 65%;
  }
}

body {
  margin: 0;
  font-family: 'Font1','Font2','Font3','Font4',  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font1 {
  font-family: 'Font1';
}
.font2 {
  font-family: 'Font2';
}
.font3 {
  font-family: 'Font3';
}  
.font4 {
  font-family: 'Font4';
}